<section
                    class="col-span-full row-end-auto md:col-span-7 lg:col-span-4 lg:row-start-5 lg:row-end-7 min-w-min border-1 border-black border-solid rounded-xl m-3 text-left">
                    <div class="text-lg font-bold rounded-t-xl p-3 border-b-2 border-black bg-off-white text-left">
                        <p>Article of the Day</p>
                    </div>
                    text
                </section>