<section
    class="w-full lg:w-1/3 border-1 border-black border-solid rounded-xl m-3 text-left flex flex-row flex-wrap">
    <h4 class="text-lg w-full font-bold rounded-t-xl p-3 border-b-2 border-black bg-off-white text-left">
        Featured Article
    </h4>
    <h5 class="text-lg w-full font-bold p-1 text-center">
        Title {{article.title}}
    </h5>
    <p class="w-full text-center">{{article.author}}Author</p>
    <hr class="w-4/5 m-auto bg-dark-green" />
    <p class="w-full px-10 py-5">{{article.content}}Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa earum tempora suscipit cum in animi labore fugiat accusantium sequi quod asperiores minus assumenda, esse tenetur aperiam et saepe voluptate delectus eveniet, blanditiis magnam similique mollitia. Labore maiores fugiat rem sunt id cumque aspernatur nulla voluptate ducimus vitae! Dignissimos harum consectetur cumque odit? Vero quibusdam iure placeat modi suscipit in magnam excepturi minima harum odio quos aperiam accusantium, dolores possimus officia labore! Voluptates quis incidunt veniam harum adipisci vero perspiciatis labore, totam quam veritatis in iusto minima sit illo, placeat praesentium modi rerum nobis nesciunt possimus temporibus nulla dignissimos porro consectetur?</p>
</section>