<section class="w-full border-1 border-black border-solid rounded-xl m-3 text-left">
    <div
        class="text-lg font-bold rounded-t-xl p-3 border-b-2 border-black bg-off-white text-center flex flex-row justify-center">

        <p class="mx-3">Calendar</p>
    </div>
    <div id="cal-wrap m-auto w-4/5">
        <!-- [PERIOD SELECTOR] -->
        <div id="cal-date">
            <select id="cal-mth"></select>
            <select id="cal-yr"></select>
            <input id="cal-set" type="button" value="SET" />
        </div>

        <!-- [CALENDAR] -->
        <div id="cal-container"></div>

        <!-- [EVENT] -->
        <div id="cal-event"></div>
    </div>

    <script src="/js/calendar.js"></script>

</section>