<section class="w-3/4 border-1 border-black border-solid rounded-xl m-3 text-left">
    <div
        class="text-lg font-bold rounded-t-xl p-3 border-b-2 border-black bg-off-white text-center flex flex-row justify-center">

        <p class="mx-3">Notifications</p>

    </div>

</section>