<section
                    class="col-span-12 lg:col-span-8 row-start-3 row-span-5 lg:row-start-3 lg:row-span-full min-w-min border-1 border-black border-solid rounded m-3 text-left">
                    <div
                        class="text-lg font-bold rounded-t p-3 border-b-2 border-black bg-off-white text-center flex flex-row justify-center">
                        <span class="self-center" id="prev-month">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M15 19l-7-7 7-7" />
                            </svg>
                        </span>
                        <p class="mx-3">Month</p>
                        <span class="self-center" id="next-month">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M9 5l7 7-7 7" />
                            </svg>
                        </span>
                    </div>
                    <div class="grid grid-cols-7 grid-rows-6">

                    </div>

                </section>