<section class="w-full lg:w-2/5 border-1 border-black border-solid bg-med-green rounded-xl m-3">
    <div class="text-lg font-bold rounded-t-xl p-3 border-b-2 border-black bg-off-white text-left">
        <p>Weather</p>
    </div>

    <form class="flex flex-row flex-wrap h-full font-semibold md:test-sm text-white mb-2">
        <!-- Temp -->
        <div class="w-full flex flex-row justify-around">
            <label>Temperature: </label>
            <p><span id="tempInsert"></span>°F</p>

        </div>
        <div class="w-full flex flex-row justify-around">

            <label for="humidity">Humidity:</label>
            <p><span id="humidityInsert"></span>%</p>
        </div>
        <div class="w-full flex flex-row justify-around">
            <label for="weather">Current weather: </label>
            <span id="weatherStatus"></span>
        </div>
        <div class="w-full flex flex-col md:flex-row justify-center p-5">

            <label for="">City:</label>
            <input id="cityWeatherSearch" class="mx-1 border-1 border-green-600 rounded-md" type="text" placeholder="Name of City">
            <input id="weatherBtn" class="p-1 border-1 text-sm font-semibold border-green-800 rounded-md bg-midnight-green" type="submit" value="Submit">

        </div>



    </form>
    <script src="/js/zone.js"></script>
</section>