<section
    class="w-full lg:w-2/5 border-1 border-black border-solid rounded-xl m-3">
    <div class="text-lg font-bold rounded-t-xl p-3 border-b-2 border-black bg-off-white text-left">
        <p>Weather</p>
    </div>
    {{#if zone}}
    <div class="grid grid-cols-6 grid-rows-6">
        <div class="col-span-full row-start-1 row-end-4 bg-sky-blue border-b-1 border-black">

        </div>
        <div class="col-start-1 col-end-3 row-start-5 row-end-7">
            Tomorrow
        </div>
    </div>
    {{else}}

    <div class="grid grid-cols-6 grid-rows-6 h-full">
        <div class="col-span-full row-start-2 row-span-3">
            <a href="#" class="m-5">Set your zone here!</a>
            
        </div>
    </div>

    {{/if}}
</section>