<section class="block w-11/12 lg:w-3/4 m-auto my-4 text-center">
    <h4 class="text-3xl p-2 bg-dark-green rounded-t-2xl text-off-white">
        Dashboard
    </h4>
    <div class="border-solid border-1 border-gray-400 bg-light-green text-midnight-green rounded-b-2xl">

    </div>
</section>