<!-- Navbar -->
<nav class="w-full">
    <div class="max-w-4/5 mx-auto px-4">
        <div class="flex justify-between lg:justify-around">
            <div class="flex space-x-7">
                <div>
                    <!-- Website Logo -->
                    <a href="/" class="flex items-center py-4 px-2">
                        <img src="../assets/garden-square1.jpg" alt="Logo"
                            class="h-20 w-20 lg:h-40 lg:w-40 rounded mr-2" id="logo">
                        {{!-- <span class="font-semibold text-off-white text-lg">Chicken Run</span> --}}
                    </a>
                </div>
                <!-- Primary Navbar items -->
                <div class="hidden lg:flex items-center space-x-1 text-lg">
                    <a href="/"
                        class="py-2 px-3 text-off-white border-green-700 font-semibold rounded-md hover:text-green-300 transition duration-300">Home</a>
                    <a href="#about-us"
                        class="py-4 px-2 text-off-white font-semibold hover:text-green-300 transition duration-300">About
                        us</a>
                    <a href="/resources"
                        class="py-4 px-2 text-off-white font-semibold hover:text-green-300 transition duration-300">Resources</a>
                </div>
            </div>
            <!-- Secondary Navbar items -->
            {{#if loggedIn}}
            <div class="hidden lg:flex items-center space-x-3 ">
                <a href="/profile"
                    class="py-2 px-2 bg-midnight-green font-medium text-off-white font-semibold rounded hover:bg-green-700 hover:text-white transition duration-300">Profile</a>
                <button id="logout"
                    class="py-2 px-2 logout font-medium text-white bg-green-500 font-semibold rounded hover:bg-green-600 transition duration-300">Log
                    Out</button>
            </div>
            {{else}}
            <div class="hidden lg:flex items-center space-x-3 ">
                <a href="/login"
                    class="py-2 px-2 bg-midnight-green font-medium text-off-white font-semibold rounded hover:bg-green-700 hover:text-white transition duration-300">Log
                    In</a>
                <a href="/signup"
                    class="py-2 px-2 font-medium text-white bg-green-500 font-semibold rounded hover:bg-green-600 transition duration-300">Sign
                    Up</a>
            </div>
            {{/if}}
            <!-- Mobile menu button -->
            <div class="lg:hidden flex items-center">
                <button class="outline-none mobile-menu-button" id="mobile-menu-button">
                    <svg class=" w-6 h-6 text-off-white hover:text-light-green" x-show="!showMenu" fill="none"
                        stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path d="M4 6h16M4 12h16M4 18h16"></path>
                    </svg>
                </button>
            </div>
        </div>
    </div>
    <!-- mobile menu -->
    <div class="hidden mobile-menu bg-off-white" id="mobile-menu">
        <ul>
            <li class="active"><a href="index.html"
                    class="block text-sm px-2 py-4 text-white bg-green-700 font-semibold">Home</a></li>
            <li><a href="/resources"
                    class="block text-sm px-2 py-4 hover:bg-green-700 transition duration-300">Resources</a></li>
            <li><a href="#about" class="block text-sm px-2 py-4 hover:bg-green-700 transition duration-300">About</a>
            </li>
            <li><a href="#contact-us" class="block text-sm px-2 py-4 hover:bg-green-700 transition duration-300">Contact
                    Us</a></li>
        </ul>
        {{#if loggedIn}}
        <div class="flex justify-around m-auto py-5">
            <a href="/profile"
                class="py-2 px-2 bg-midnight-green font-medium text-off-white font-semibold rounded hover:bg-green-700 hover:text-white transition duration-300">Profile</a>
            <button id="logout"
                class="py-2 px-2 logout font-medium text-white bg-green-500 font-semibold rounded hover:bg-green-600 transition duration-300">Log
                Out</button>
        </div>
        {{else}}
        <div class="flex justify-around m-auto py-5">
            <a href="/login"
                class="py-2 px-2 bg-midnight-green font-medium text-off-white font-semibold rounded hover:bg-green-700 hover:text-white transition duration-300">Log
                In</a>
            <a href="/signup"
                class="py-2 px-2 font-medium text-white bg-green-500 font-semibold rounded hover:bg-green-600 transition duration-300">Sign
                Up</a>
        </div>
        {{/if}}
    </div>
    <script src="/js/showMobileNav.js"></script>
</nav>