<section
                    class="col-span-full row-end-auto md:col-span-5 lg:col-span-4 lg:row-start-3 lg:row-end-5 min-w-min border-1 border-black border-solid rounded m-3 text-left">
                    <div class="text-lg font-bold rounded-t p-3 border-b-2 border-black bg-off-white text-left">
                        <p>Plant of the Day</p>
                    </div>
                    text
                </section>