<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Just Tech News</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="wrapper">
        <header>
            <h1>
                <a href="/">The Tech Blog</a>
            </h1>
            <nav>
                {{#if loggedIn}}
                <a href="/">Home</a>
                <a href="/dashboard">dashboard</a>
                <button id="logout" class="btn-no-style">logout</button>
                {{else}}
                <a href="/login">login</a>
                {{/if}}
            </nav>
        </header>
        <main>
            {{!-- 2 curlies convert HTML into strings (< becomes &lt;) --}} {{!-- 3 curlies renders data as HTML --}}
                {{{ body }}} </main>
                <footer>
                    © Jennifren 2021
                </footer>
    </div>

    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
</body>

</html>