{{>dashboard-news}}


<section class="block w-11/12 lg:w-3/4 my-4 lg:mr-5 text-center">
  <!-- Dashboard Title -->
  <h4 class="text-3xl p-2 bg-dark-green rounded-t text-off-white">
    Dashboard
  </h4>


  <!-- Dashboard body -->
  <div
    class="border-solid border-1 border-gray-400 bg-light-green text-midnight-green rounded-b grid grid-cols-12 grid-rows-10 min-h-full">
    {{> dashboard-garden}}
    {{> dashboard-weather}}
    {{> pod}}
    {{> aod}}
    {{> dashboard-calender}}

  </div>
</section>