{{> navbar}}
<main class="flex flex-column justify-around lg:flex-row flex-wrap p-0">
    <div class="w-full  my-3">
        <div class="w-1/3 text-center text-3xl bg-sky-blue rounded-lg border-black border-1 p-5 m-auto shadow-xl">
            Welcome, {{username}}

        </div>
    </div>
    {{>my-posts}}
    {{>dashboard-main}}

</main>