{{> navbar}}

<main class="flex flex-column justify-around lg:flex-row flex-wrap p-0">

<section class="w-full lg:w-1/2 border-1 border-black border-solid rounded-xl m-3 text-left min-h-full">
    <h4 class="text-lg font-bold rounded-t-xl p-3 border-b-2 border-black bg-off-white flex flex-row justify-between">

        <p>{{title}} - {{description}}</p>
        <span class="self-center" id="add-garden">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
            </svg>
        </span>
    </h4>
    <ul class="flex justify-between flex-wrap">


    <section class="w-full lg:w-1/2 border-1 border-black border-solid rounded-xl m-3 text-left">
        <h4
            class="text-lg font-bold rounded-t-xl p-3 border-b-2 border-black bg-off-white flex flex-row justify-between">

<div id="add-garden-modal" class="flex flex-row flex-wrap border-1 border-black border-solid rounded-xl bg-light-green w-1/4">
    <h5 class="text-lg text-left font-bold rounded-t-xl p-3 border-b-2 border-black bg-off-white w-full flex flex-row  justify-between">
        <p>Add a Plant</p>
        <span class="self-center" id="close-modal">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
        </span>
    </h5>
    <div class="w-full p-3">
        <form class="flex flex-row flex-wrap overflow-auto">

            <label for="plant-name" class="w-full text-left">Plant Name :</label>
            <input type="text" id="plant-name" name="plant-name" class="ring-1 font-semibold ring-gray-600 w-full rounded-md mt-2 px-4 py-2 outline-none focus:ring-2 focus:ring-blue-300 mb-3" />

            <label for="plants" class="w-full text-left">Anual or Perennial</label>
             <input list="plants" id="user-choice" name="user-choice" class="ring-1 font-semibold ring-gray-600 w-full rounded-md mt-2 px-4 py-2 outline-none focus:ring-2 focus:ring-blue-300 mb-3" />
                    <datalist id="plants">
                        <option id="plants" value="Anual">
                        <option id="plants" value="Perennial">
                    </datalist>

                        <label for="sewn-date" class="w-full text-left">Sewn Date :</label>
            <input type="date" id="sewn-date" name="sewn-date" class="ring-1 font-semibold ring-gray-600 w-full rounded-md mt-2 px-4 py-2 outline-none focus:ring-2 focus:ring-blue-300 mb-3" value="2021-11-09" min="2018-01-01" max="2018-12-31"/>

                        <label for="garden-name" class="w-full text-left">Best Planting Condtions :</label>
            <input type="text" id="garden-name" name="garden-name" class="ring-1 font-semibold ring-gray-600 w-full rounded-md mt-2 px-4 py-2 outline-none focus:ring-2 focus:ring-blue-300 mb-3" />

                        <label for="garden-name" class="w-full text-left">Best Sun Requirements :</label>
            <input type="text" id="garden-name" name="garden-name" class="ring-1 font-semibold ring-gray-600 w-full rounded-md mt-2 px-4 py-2 outline-none focus:ring-2 focus:ring-blue-300 mb-3" />

                                    <label for="garden-name" class="w-full text-left">Best Shade Requirements :</label>
            <input type="text" id="garden-name" name="garden-name" class="ring-1 font-semibold ring-gray-600 w-full rounded-md mt-2 px-4 py-2 outline-none focus:ring-2 focus:ring-blue-300 mb-3" />

                        <label for="garden-name" class="w-full text-left">Best Soil Depth for Planting :</label>
            <input type="text" id="garden-name" name="garden-name" class="ring-1 font-semibold ring-gray-600 w-full rounded-md mt-2 px-4 py-2 outline-none focus:ring-2 focus:ring-blue-300 mb-3" />

                        <label for="prefrence" class="w-full text-left">Best Planting Practice</label>
                        <input list="prefrence" id="user-choice" name="user-choice" class="ring-1 font-semibold ring-gray-600 w-full rounded-md mt-2 px-4 py-2 outline-none focus:ring-2 focus:ring-blue-300 mb-3" />
                    <datalist id="prefrence">
                        <option id="prefrence" value="Single"></option>
                        <option id="prefrence" value="Row"></option>
                        <option id="prefrence" value="Group"></option>
                    </datalist>

         
                        <label for="garden-name" class="w-full text-left">Seed Spacing :</label>
            <input type="text" id="garden-name" name="garden-name" class="ring-1 font-semibold ring-gray-600 w-full rounded-md mt-2 px-4 py-2 outline-none focus:ring-2 focus:ring-blue-300 mb-3" />
        
                        <label for="garden-name" class="w-full text-left">Row Spacing :</label>
            <input type="text" id="garden-name" name="garden-name" class="ring-1 font-semibold ring-gray-600 w-full rounded-md mt-2 px-4 py-2 outline-none focus:ring-2 focus:ring-blue-300 mb-3" />

                        <label for="garden-name" class="w-full text-left">Min Germination time :</label>
            <input type="text" id="garden-name" name="garden-name" class="ring-1 font-semibold ring-gray-600 w-full rounded-md mt-2 px-4 py-2 outline-none focus:ring-2 focus:ring-blue-300 mb-3" />

                        <label for="garden-name" class="w-full text-left">Max Germination Time :</label>
            <input type="text" id="garden-name" name="garden-name" class="ring-1 font-semibold ring-gray-600 w-full rounded-md mt-2 px-4 py-2 outline-none focus:ring-2 focus:ring-blue-300 mb-3" />

                                   <label for="garden-name" class="w-full text-left">Min Maturity time :</label>
            <input type="text" id="garden-name" name="garden-name" class="ring-1 font-semibold ring-gray-600 w-full rounded-md mt-2 px-4 py-2 outline-none focus:ring-2 focus:ring-blue-300 mb-3" />

                        <label for="garden-name" class="w-full text-left">Max Maturity Time :</label>
            <input type="text" id="garden-name" name="garden-name" class="ring-1 font-semibold ring-gray-600 w-full rounded-md mt-2 px-4 py-2 outline-none focus:ring-2 focus:ring-blue-300 mb-3" />







            <button id="create-garden" type="submit" class="justify-self-end bg-midnight-green font-bold rounded-lg px-6 py-2 my-3 uppercase text-sm text-sky-blue">Create Plant</button>
        </form>
    </div>
</div>

<script src="/js/add-garden.js"></script>
<script src="/js/delete-garden.js"></script>
