{{> navbar}}

<main class="flex flex-column justify-around lg:flex-row flex-wrap p-0 min-h-screen" id="signup-container">

    <!-- Login Window -->
    <div class="container flex justify-center mx-3 my-10">
        <div id="loginCard"
            class="flex bg-dark-green-0-85 rounded-xl shadow-lg p-8 md:w-80 border-solid border-2 border-black rounded-lg text-off-white">
            <div class="container flex mx-3 ">
                <form id="login-form" class="flex flex-col space-y-4">
                    <h4 class="justify-center flex flex-row text-2xl font-semibold md:text-xl mr-2">
                        Log into Account</h4>
                    <div class="flex flex-row">
                        <label id="registerEmail" for="email" class="font-bold text-sm mr-2">
                            Email Address: </label>
                        <input id="login-email" type="text" name="email" placeholder="Email Address"
                            class="ring-1 font-semibold text-midnight-green ring-gray-600 w-full rounded-md mt-2 px-4 py-2 outline-none focus:ring-2 focus:ring-blue-300">
                    </div>
                    <div class="flex flex-row">
                        <label for="password" class="font-bold text-sm">Enter Password: </label>
                        <input type="password" name="password" id="login-password" placeholder="Password" class="ring-1 font-semibold ring-gray-600 w-full rounded-md mt-2 px-4 py-2 outline-none text-midnight-green focus:ring-2
                focus:ring-blue-300 ml-2">
                    </div>
                    <button id="sign-in-btn" type="submit" class="flex flex-row self-end bg-midnight-green font-bold rounded-lg px-6 py-2 uppercase text-sm text-sky-blue 
                ">Sign In</button>
                </form>
            </div>
        </div>
    </div>
    <script src="./js/login.js"></script>

</main>