{{> navbar}}
<main class="flex flex-column justify-around lg:flex-row flex-wrap p-0">
    <section class="block w-11/12 max-h-full lg:max-h-full overflow-y-scroll m-auto mx-2 my-4 text-center rounded-xl">
        <h4 class="text-3xl p-2 bg-dark-green rounded-t-xl text-off-white">
            Resources
        </h4>
        <div id="blog-container"
            class="border-solid border-1 border-gray-400 bg-light-green text-midnight-green rounded-b-xl flex flex-row flex-wrap">
            {{#each posts as |post|}}
            <div class="w-full px-5 py-7 text-left blog-post">
                <a href="/post/{{post.id}}" class="text-xl ">{{post.title}}</a>
                <div>written by {{user.username}}</div>
                <div>{{format_date createdAt}}</div>

            </div>
            {{/each}}

        </div>
    </section>


</main>