{{> navbar}}

<main class="flex flex-column justify-around lg:flex-row flex-wrap p-0">

    <!-- Create Account Section -->
    <div class="container flex justify-center my-10">
        <div id="registerCard"
            class="flex bg-light-green rounded-xl shadow-lg p-8 text-gray-600 md:w-80 border-solid border-8 border-green-700 rounded-lg">
            <div class="container flex mx-3 ">
                <form id="signup-form" class="flex flex-col space-y-4">
                    <label for="accountCreation"
                        class="justify-center text-midnight-green flex flex-row text-2xl font-semibold md:text-xl mr-2">
                        Register User</label>
                    <div class="flex flex-row">
                        <label id="registerName" for="Name" class="font-bold text-midnight-green text-sm mr-2">Enter
                            Name:</label>
                        <input id="signup-name" type="text" placeholder="Name"
                            class="ring-1 font-semibold ring-gray-600 w-full rounded-md mt-2 px-4 py-2 outline-none focus:ring-2 focus:ring-blue-300">
                    </div>
                    <div class="flex flex-row">
                        <label for="Email" class="font-bold text-midnight-green text-sm mr-2">
                            Email Address: </label>
                        <input id="signup-email" type="text" placeholder="Email Address"
                            class="ring-1 font-semibold ring-gray-600 w-full rounded-md mt-2 px-4 py-2 outline-none focus:ring-2 focus:ring-blue-300">
                    </div>
                    <div class="flex flex-row">
                        <label for="password" class="font-bold text-midnight-green text-sm">Enter Password: </label>
                        <input id="signup-password" type="password" placeholder="Password" class="ring-1 font-semibold ring-gray-600 w-full rounded-md mt-2 px-4 py-2 outline-none focus:ring-2
                focus:ring-blue-300">
                    </div>
                    <button id="createBtn" type="submit" class="flex flex-row self-end bg-midnight-green font-bold rounded-lg px-6 py-2 uppercase text-sm text-sky-blue 
                ">Create</button>
                </form>
            </div>
        </div>
    </div>

    <script src="../js/signup.js"></script>

</main>