header,
.project:not(:last-child) {
	border-bottom: 1px solid #ccc;
}

* {
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

.no-button {
	background: none;
	border: none;
	padding: 0;
	cursor: pointer;
	color: #1b89bc;
	text-decoration: none;
	font-size: 100%;
}

.no-button:hover {
	color: #065b83;
	text-decoration: underline;
}

.dollar-amount {
	color: #056605;
	font-weight: bold;
	margin-left: -5px;
}

.bg-dark-green {
	background: #202e1d;
}

.bg-med-green {
	background: #0e4007;
}

.bg-dark-green-0-85 {
  background: rgba(32, 46, 29, 0.85);
}

.bg-midnight-green {
	background: #100804;
}

.bg-midnight-green-o-85 {
  background: rgba(16, 8, 4, 0.85);
}

.bg-light-green {
	background: #b2cfab;
}

.bg-sky-blue {
	background: #b7dff6;
}

.bg-lavender {
	background: #b6a1ce;
}

.bg-off-white {
	background: #f5f5f5;
}

.text-dark-green {
	color: #202e1d;
}

.text-midnight-green {
	color: #100804;
}

.text-light-green {
	color: #b2cfab;
}

.text-sky-blue {
	color: #b7dff6;
}

.text-off-white {
	color: #f5f5f5;
}

.border-1 {
	border-width: 1px;
}

.border-b-1 {
	border-bottom-width: 1px;
}

#add-garden, #prev-month, #next-month, #close-modal, #close-modal-livestock, #add-livestock {
  cursor: pointer;
}

.delete-garden svg, .delete-post svg, .delete-livestock svg {
  cursor: pointer;
}

.grid-rows-7 {
	grid-template-rows: repeat(7, minmax(0, 1fr));
}

.grid-rows-8 {
	grid-template-rows: repeat(8, minmax(0, 1fr));
}

.grid-rows-9 {
	grid-template-rows: repeat(9, minmax(0, 1fr));
}

.grid-rows-10 {
	grid-template-rows: repeat(10, minmax(0, 1fr));
}

.grid-rows-11 {
	grid-template-rows: repeat(11, minmax(0, 1fr));
}

.grid-rows-12 {
	grid-template-rows: repeat(12, minmax(0, 1fr));
}

.row-start-8 {
	grid-row-start: 8;
}

.row-start-9 {
	grid-row-start: 9;
}

.row-start-10 {
	grid-row-start: 10;
}

.row-start-11 {
	grid-row-start: 11;
}

.row-start-12 {
	grid-row-start: 12;
}

::-webkit-scrollbar {
  width: 1vh;
  height: 5vh;
  position: absolute;
  right: 0;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background: #b6a1ce;
	border: 1px solid #100804;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}

section h4 {
	height: 3.5rem;
}

section {
	height: min-content;
}

#add-garden-modal, #add-livestock-modal {
	visibility: hidden;
	position: fixed;
	z-index: 1;
	margin: auto;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

textarea,
input {
	padding: 0.5%;
	border-radius: 5px;
	border: 1px solid #ccc;
}

textarea:focus,
input:focus {
	outline: none;
	border: 1px solid darkblue;
}

textarea {
	min-width: 40%;
	min-height: 100px;
}

form > div {
	margin-bottom: 2%;
}

form label {
	display: block;
}

.wrapper {
	width: 100%;
	min-height: 100%;
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

header {
	border-bottom: 1px solid #ccc;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 1%;
}

header h1 {
	font-size: 1em;
}

main {
	flex: 1;
	padding: 2% 4%;
}

.btn-no-style {
	background: none;
	border: none;
	padding: 0;
	cursor: pointer;
	text-decoration: none;
	color: lightblue;
	font-size: 100%;
	font-weight: bold;
	transition: color 0.1s;
	margin-left: 16px;
}

.btn-no-style:hover {
	background: none;
	color: darkblue;
}

.delete-post-btn {
	background-color: palevioletred;
}

.delete-post-btn:hover {
	background-color: purple;
}

.post {
	margin-bottom: 2%;
	line-height: 150%;
}

.post .title span {
	font-style: italic;
	font-size: 90%;
	color: #7d7d7d;
}

.edit-link {
	display: block;
	margin: -1.5% 0 2% 0;
}

.comment-form {
	margin-bottom: 5%;
}

.comment {
	padding: 1%;
	margin-bottom: 1%;
}

.comment:nth-child(odd) {
	background-color: #fff5eb;
}

.comment .meta {
	font-size: 90%;
	margin-bottom: 0.5%;
	opacity: 0.6;
}

.new-post-form input {
	width: 300px;
}

.edit-post-form {
	margin-bottom: 5%;
}

#blog-container .blog-post:nth-of-type(even) {
  background: #F5F5F5;
}

#signup-container {
  background-image: url('/assets/ducks-n-rabbits.jpg');
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 70%;
}

footer {
  border-top: 1px solid #ccc;
  background-image: url('/assets/weather-forecast.png');
  background-position: bottom right;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 110%;
}

#hero {
  background-image: url('/assets/pm.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#contact-us {
  background-image: url('/assets/ducks-n-rabbits.jpg');
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}


#about-us {
  background-image: url('/assets/pumpkin.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
